#main{
    width: 100%;
    background-image: url("home_bgimg.jpg");
    background-position: center;
    background-size: cover;
    height: 109v;
    background-attachment: fixed;
}
.description {
    width: 1000px;
    height: auto;
    color: #f00;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto 2em;

}

.description h1 {
    text-align: center;
    background: #400;
    border-radius: 10px;
    font-size: 40px;
    font-family: sans-serif
}

.description p {
    color: #fff;
    font-size: 18px;
    font-family: serif;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f00;
}

.intro {
    width: 600px;
    height: auto;
    color: #f00;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    border-radius: 10px;
    padding: 10px;
    margin: 2em auto 2em
}

.intro h1 {
    text-align: center;
    background: #400;
    border-radius: 10px;
    font-size: 40px;
    font-family: sans-serif
}

.intro #intro {
    color: #fff;
    font-size: 18px;
    font-family: serif;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f00;
}

#Connor {
    width: 300px;
    height: auto;
    color: #f00;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    border-radius: 10px;
    padding: 10px;
}

#Connor img {
    height: 200px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#Connor h2 {
    text-align: center;
    font-family: sans-serif;
}

h3 {
    font-family: sans-serif;
    text-align: center;
    color: #800;
}

#Connor p {
    font-family: serif;
    font-size: 15px;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #f00;
    padding-bottom: 5px;
    border-top: 1px solid #f00;
    padding-top: 5px;
}

#Zack {
    width: 300px;
    height: auto;
    color: #f00;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    border-radius: 10px;
    padding: 10px;
}

#Zack img {
    height: 200px;
    width: auto;
    padding-left: 83px;
    padding-right: 83px;
}

#Zack h2 {
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 20px;
}

#Zack p {
    font-family: serif;
    font-size: 15px;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #f00;
    padding-bottom: 5px;
    border-top: 1px solid #f00;
    padding-top: 5px;
}

#Jack {
    width: 300px;
    height: auto;
    color: #f00;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    border-radius: 10px;
    padding: 10px;
}

#Jack img {
    height: 200px;
    width: auto;
    padding-left: 93.25px;
    padding-right: 93.25px;
}

#Jack h2 {
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 20px;
}

#Jack p {
    font-family: serif;
    font-size: 15px;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #f00;
    padding-bottom: 5px;
    border-top: 1px solid #f00;
    padding-top: 5px;
}
#Ava {
    width: 300px;
    height: auto;
    color: #f00;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    border-radius: 10px;
    padding: 10px;
}

#Ava img {
    height: 200px;
    width: auto;
    padding-left: 41px;
    padding-right: 41px;
}

#Ava h2 {
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 20px;
}

#Ava p {
    font-family: serif;
    font-size: 15px;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #f00;
    padding-bottom: 5px;
    border-top: 1px solid #f00;
    padding-top: 5px;
}

#Elijah {
    width: 300px;
    height: auto;
    color: #f00;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    border-radius: 10px;
    padding: 10px;
}

#Elijah img {
    height: 200px;
    width: auto;
    padding-left: 81px;
    padding-right: 81px;
}

#Elijah h2 {
    text-align: center;
    font-family: sans-serif;
 
}

#Elijah p {
    font-family: serif;
    font-size: 15px;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #f00;
    padding-bottom: 5px;
    border-top: 1px solid #f00;
    padding-top: 5px;
}

#Ethan {
    width: 300px;
    height: auto;
    color: #f00;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    border-radius: 10px;
    padding: 10px;
}

#Ethan img {
    height: 200px;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
}

#Ethan h2 {
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 20px;
}

#Ethan p {
    font-family: serif;
    font-size: 15px;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #f00;
    padding-bottom: 5px;
    border-top: 1px solid #f00;
    padding-top: 5px;
}

section {
    display: flex;
    flex-direction: column;
    align-content: center;
}
section.ralign {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 3em auto;
}

.bio {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-right: 1em;
}

.bio p {
    overflow: scroll;
    height: 200px;
}
