
.main {
    height: 140vh;
}
.ccontent {
    width: 350px;
    height: auto;
    color: #f00;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    border-radius: 10px;
    padding: 25px;
    margin: 50px auto;    
}

.ccontent h2 {
    text-align: center;
    font-size: 35px;
    background: #500;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.inputs input {
    width: 200px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #f00;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 10px auto;
    display: block;
}

.inputs input:focus {
    outline: none;
}


#discuss {
    width: 325px;
    height: 200px;
    margin-left: 10px;
    background: transparent;
    border: 1px solid #f00;
    border-radius: 10px;
    padding: 5px;
    text-align-last: left;
    resize: none;
    margin-top: 10px;
    color: #f00;
    font-size: 15px;
}

::placeholder {
    color: #900;
}

#map {
    width: 350px;
    height: auto;
    color: #f00;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    border-radius: 10px;
    padding: 25px;
    margin: 50px auto;
}

input.cn {
    width: 100px;
    height: 40px;
    background: #f00;
    border: 2px, solid, #f00;
    margin-top: 20px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
     border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
    transition: .3s ease;
    margin-left: 10px auto;
}
